<div>
    <div class="vdo">
        <img
          width="80%"
          src="assets/fashion/f1.png"
        />
      </div>
    <div class="vdo">
        <img
          width="90%"
          src="assets/fashion/f2.png"
        />
    </div>
    <div class="vdo">
        <img
          width="90%"
          src="assets/fashion/f3.png"
        />
      </div>
    <div class="vdo">
        <img
          width="90%"
          src="assets/fashion/f4.png"
        />
    </div>
    <div class="vdo">
        <img
          width="90%"
          src="assets/fashion/f5.png"
        />
      </div>
    <div class="vdo">
        <img
          width="90%"
          src="assets/fashion/f6.png"
        />
    </div>
</div>
