<div>
    <h1 class="header" style="margin-bottom: -30px; margin-top: 20px;">Virtul Festivity Box</h1>
    <div class="vdo" style="margin-top: 50px;">
        <img
          width="60%"
          src="assets/vp0.jpeg"
        />
    </div>
    <div class="vdo" style="margin-top: 20px;">
        <img
          width="60%"
          src="assets/vp1.png"
        />
    </div>
    <div class="vdo">
        <img
          width="60%"
          src="assets/vp2.png"
        />
    </div>
    <div class="vdo">
        <img
          width="60%"
          src="assets/vp3.png"
        />
    </div>
    <div class="vdo">
        <img
          width="60%"
          src="assets/vp4.png"
        />
    </div>
    <div class="vdo">
        <img
          width="60%"
          src="assets/vp5.png"
        />
    </div>
    <div class="vdo">
        <img
          width="60%"
          src="assets/vp6.png"
        />
    </div>
</div>

